In [122]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
%matplotlib inline

data = pd.read_csv('FinalTraffic.csv')

In [123]:
data.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,15.13,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,16.21,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,16.43,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,16.98,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,17.99,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [124]:
#date time parsing function in python
import calendar
from datetime import datetime

data['year']  = [datetime.strptime(i,'%Y-%m-%d %H:%M:%S').year for i in data['date_time']]
data['month'] = [datetime.strptime(i,'%Y-%m-%d %H:%M:%S').month for i in data['date_time']]
data['day']   = [datetime.strptime(i,'%Y-%m-%d %H:%M:%S').day for i in data['date_time']]
data['hour']  = [datetime.strptime(i,'%Y-%m-%d %H:%M:%S').hour for i in data['date_time']]

In [125]:
#ordering df variables and dropping weather description variable as its repetitive 
data = data[['holiday','temp','rain_1h','snow_1h','year','month','day','hour','weather_main','traffic_volume']]
data.head()

,holiday,temp,rain_1h,snow_1h,year,month,day,hour,weather_main,traffic_volume
0,None,15.13,0.0,0.0,2012,10,2,9,Clouds,5545
1,None,16.21,0.0,0.0,2012,10,2,10,Clouds,4516
2,None,16.43,0.0,0.0,2012,10,2,11,Clouds,4767
3,None,16.98,0.0,0.0,2012,10,2,12,Clouds,5026
4,None,17.99,0.0,0.0,2012,10,2,13,Clouds,4918

In [126]:
# dummy coding categorical variables
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data['holiday'] = le.fit_transform(data['holiday'])
data['weather_main'] = le.fit_transform(data['weather_main'])
data['year'] = le.fit_transform(data['year'])
data['month'] = le.fit_transform(data['month'])
data['day'] = le.fit_transform(data['day'])
data['hour'] = le.fit_transform(data['hour'])

In [127]:
#creating label and features for analysis
Features = data.drop('traffic_volume',1)
Label = data.traffic_volume
data.head()

C:\Users\cav52\AppData\Local\Temp/ipykernel_10404/1020905847.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  Features = data.drop('traffic_volume',1)

,holiday,temp,rain_1h,snow_1h,year,month,day,hour,weather_main,traffic_volume
0,7,15.13,0.0,0.0,0,9,1,9,1,5545
1,7,16.21,0.0,0.0,0,9,1,10,1,4516
2,7,16.43,0.0,0.0,0,9,1,11,1,4767
3,7,16.98,0.0,0.0,0,9,1,12,1,5026
4,7,17.99,0.0,0.0,0,9,1,13,1,4918

In [128]:
#importing additional metrics and training/testing the data
import sklearn.metrics as metrics
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

x_train, x_test, y_train, y_test=train_test_split(Features, Label, random_state=1)

RT = RandomForestRegressor()
RT.fit(x_train, y_train)
y_pred = RT.predict(x_test)

In [129]:
#r2 output
metrics.r2_score(y_test,y_pred)

0.8417626789938857

In [120]:
#MEA output
metrics.mean_absolute_error(y_test,y_pred)

503.45556228732676

In [121]:
#RSME output
np.sqrt(mean_squared_error(y_test,y_pred))

792.0216425706636